:root {
    --cor-de-fundo: #F5F5F5;
    --cor-de-card: #FFFFFF;
    --cor-de-fundo-azul-claro: #EAF2FD;
    --cor-de-texto: #464646;
    --cor-de-borda-botao: #2A7AE4;
    --cor-de-borda-botao-escuro: #0c66db;
    --font-raleway: 'Raleway';
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: var(--font-raleway);
    color: var(--cor-de-texto);
    margin: 0;
    padding: 0;
    line-height: 1;
}