.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0;
    background-color: var(--cor-de-fundo-azul-claro);
}

@media (max-width: 420px) {
    .sobre {
        padding: 1rem;
    }
}